@import "tailwindcss";

:root {
  --background: #0A192F;
  --foreground: #CAF0F8;
  --athlon-navy: #0A192F;
  --athlon-azure: #00B4D8;
  --athlon-ice: #CAF0F8;
  --athlon-slate: #1E293B;
  
  --card: #1E293B;
  --card-foreground: #CAF0F8;
  
  --primary: #00B4D8;
  --primary-foreground: #0A192F;
  
  --athlon-slate-dark: #0f172a;
}

.light {
  --background: #F8FAFC;
  --foreground: #0F172A;
  
  --athlon-navy: #F8FAFC;
  --athlon-slate: #FFFFFF;
  --athlon-slate-dark: #F1F5F9;
  
  --athlon-ice: #0F172A;
  --athlon-azure: #0284C7;
  
  --card: #FFFFFF;
  --card-foreground: #0F172A;
  
  --primary: #0284C7;
  --primary-foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--athlon-navy);
  --color-azure: var(--athlon-azure);
  --color-ice: var(--athlon-ice);
  --color-slate: var(--athlon-slate);
  --color-slate-dark: var(--athlon-slate-dark);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Global Select Options Styling */
option {
  background-color: var(--athlon-slate);
  color: var(--athlon-ice);
  padding: 12px;
  font-weight: 600;
}
